---
import Main from "../layouts/Main.astro";
import CtaButton from "../components/CtaButton.astro";
import ProcessSection from "../components/ProcessSection.astro";
import TestimonialSlider from "../components/TestimonialSlider.svelte";
---

<Main title="Pyxyll - About">
  <section>
    <div class="container">
      <h2 class="emphasis">Curious eh?</h2>
      <p>
        Well then let's chat! Who am I? I'm <span class="underline">Dylan</span
        >, a web developer from Ireland. Over time I've noticed the world of
        online presense has gotten all too <span class="underline"
          >'same-y'.</span
        >

         I believe websites should have personality. And that's my mission, to bring
        back the charm and uniqueness into the online realm. So, while I deal with
        all the jargon behind the scenes (I promise, you won't have to), you can
        focus on your goal. But enough about me, I wanna hear about you!
      </p>
      <CtaButton buttonText="Let's Chat" />
    </div>
  </section>

  <section>
    <ProcessSection />
  </section>

  <section>
    <div class="testimonialContainer">
      <TestimonialSlider client:load />
    </div>
  </section>
</Main>

<style>
  .testimonialContainer {
    display: flex;
    gap: 5rem;
  }

  .container {
    margin: 2em auto;
    max-width: 1600px;
  }
  .underline {
    text-decoration: underline;
  }
  .emphasis {
    font-size: 500%;
    transform: rotate(-2deg);
    margin: 0px 0px 40px 0px;
    padding: 1rem 2rem;
    color: var(--white);
    display: inline-block;
    background-color: var(--black);
  }
  .tech-stack {
    width: 100%;
    padding: 20px;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
</style>
