---
import Main from "../layouts/Main.astro";
import FSflex from "../components/FSflex.astro";
import ProcessSection from "../components/ProcessSection.astro";
import TechStack from "../components/TechStack.astro";
import IconSlider from "../components/IconSlider.astro";
---

<Main title="Pyxyll - About">
  <section>
    <FSflex
      image="images/offsetlogo.svg"
      text="Hey there! Welcome to Pyxyll. Ever felt like you're seeing the same website over and over again? In a world where digital designs often feel like déjà vu, we're on a mission to shake things up. Because why settle for the ordinary when you can have extraordinary? Here, we're not just about pixels and code (although we're pretty geeky about that too). We believe in breaking the mold, thinking outside the box, and most importantly, having a blast while doing it. It's high time to bring back the fun, the flair, and the unexpected into the world of web design!"
    />
  </section>
  <section>
    <ProcessSection />
  </section>

  <section>
    <IconSlider />
  </section>
</Main>

<style>
  .tech-stack {
    width: 100%;
    padding: 20px;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Change to flex-start to ensure items always start from the beginning of the row */
    gap: 20px;
  }
</style>
