---
import Main from "../layouts/Main.astro";
import Form from "../components/Form.svelte";
---

<Main title="Pyxyll - Contact">
  <section>
    <div class="container">
      <h2 class="emphasis">Let's chat</h2>
    </div>
    <div class="container">
      <Form client:load />
    </div>
  </section>
</Main>
