---
import Main from "../layouts/Main.astro";
import ServiceSection from "../components/ServiceSection.astro";
import Hero from "../components/Hero.astro";
import Banner from "../components/Banner.svelte";
import SubFooter from "../components/SubFooter.astro";
---

<Main title="Pyxyll - Something Different">
  <section class="hero-offset">
    <div class="landscape"></div>

    <Hero />
  </section>

  <div class="bannerCont">
    <Banner
      repeatCount={13}
      text="Identity. Defined. "
      image="images/bannerDivider.svg"
      rotation="-2deg"
    />
  </div>

  <section>
    <ServiceSection />
  </section>
  <Banner
    repeatCount={13}
    text="Let's Get To The Good Bit "
    image="images/bannerDivider.svg"
    rotation="2deg"
  />
  <section>
    <SubFooter />
  </section>
</Main>
