---
import Main from "../layouts/Main.astro";
import ServiceSection from "../components/ServiceSection.astro";
import Hero from "../components/Hero.astro";
import SubFooter from "../components/SubFooter.astro";
---

<Main title="Pyxyll - Home">
  <section>
    <Hero />
  </section>

  <section transition:name="hero">
    <ServiceSection />
  </section>

  <section>
    <SubFooter />
  </section>
</Main>
