---
import Main from "../layouts/Main.astro";
import ServiceSection from "../components/ServiceSection.astro";
import Hero from "../components/Hero.astro";
import Banner from "../components/Banner.astro";
import SubFooter from "../components/SubFooter.astro";
---

<Main title="Pyxyll - Home">
  <section class="hero-offset">
    <Hero />
  </section>

  <Banner
    text="Identity. Defined. "
    image="images/bannerDivider.svg"
    rotation="-2deg"
  />

  <section>
    <ServiceSection />
  </section>
  <Banner
    text="Let's Get To The Good Bit "
    image="images/bannerDivider.svg"
    rotation="2deg"
  />
  <section>
    <SubFooter />
  </section>
</Main>
