---
import Main from "../layouts/Main.astro";
import ServiceSection from "../components/ServiceSection.astro";
import Hero2 from "../components/Hero2.astro";
import SubFooter from "../components/SubFooter.astro";
---

<Main title="Pyxyll - Home">
  <section>
    <Hero2 />
  </section>

  <section>
    <ServiceSection />
  </section>

  <section>
    <SubFooter />
  </section>
</Main>
