---
let repeatCount = 13;
const { text, image, rotation } = Astro.props;
---

<style define:vars={{ rotation }}>
  /* .banner-container {
    overflow: hidden;
  } */

  .banner {
    background-color: #191919;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background-color: #191919;
    width: 200%;
    height: 10rem;
    color: var(--white);
    font-size: 3rem;
    rotate: var(--rotation);
    margin-left: -5px;
  }

  .banner-text {
    animation: scrollText 20s linear infinite;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    top: 1em;
  }

  .imagedivider {
    display: inline;
    width: 50px;
    padding-right: 20px;
  }

  @keyframes scrollText {
    0% {
      left: 0%;
    }
    100% {
      left: -95%;
    }
  }

  @media (max-width: 1200px) {
    .banner {
      width: 100%;
    }
  }
</style>

<div class="banner-container">
  <div class="banner">
    <div class="banner-text">
      {
        Array.from({ length: repeatCount }).map(() => (
          <>
            {text} <img class="imagedivider" src={image} alt="Banner Divider" />
          </>
        ))
      }
    </div>
  </div>
</div>
