---
import CtaButton from "./CtaButton.astro";
---

<div class="hero-section">
  <div class="content">
    <h1>
      <span>Design.</span>
      <span class="outline">Develop.</span>
      <span>Deploy.</span>
    </h1>
    <p>
      At Pyxyll, we dont just design and code — we craft online experiences.
      Every pixel has its purpose, every line of code its place. Jump into our
      digital playground where design meets function, making your brand stand
      out effortlessly.
    </p>
    <CtaButton buttonText="Get Started" />
  </div>
  <div class="image-container">
    <img src="images/hero.svg" alt="Description of Image" />
  </div>
</div>

<style>
  /* General Styling */

  .hero-section {
    display: flex;
    max-width: 1600px;
    margin: 0 auto; /* Center the section if viewport width > 1600px */
  }

  h1 span {
    display: block;
    font-size: 4em;
  }

  .outline {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    fill: none;
    color: #f5f5f5;
  }

  .content {
    flex: 1;
    padding: 20px; /* Adjust as necessary */
  }

  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  /* Responsive Design */
  @media (max-width: 1200px) {
    .hero-section {
      flex-direction: column;
    }
    .image-container {
      display: none;
    }
  }
</style>
