<style>
  .navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    color: white;
    border-top: solid 4px var(--black);
    border-bottom: solid 4px var(--black);
    padding: 20px 50px;
    font-size: 110%;
    text-transform: uppercase;
  }
  .nav-logo {
    width: 4.5em;
    transition: 0.2s;
  }

  .nav-logo:hover {
    transform: scale(1.05);
  }

  .nav-logo:active {
    transform: scale(1.1);
  }

  header li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    margin-right: 50px;
  }

  .navbar-links a {
    text-decoration: none;
    padding-bottom: 5px;
    color: black;
    background-image: linear-gradient(black, black);
    background-size: 0% 0.2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  header a:hover {
    background-size: 100% 0.2em;
  }

  .ham-menu {
    display: none;
  }
  .bar {
    background-color: var(--black);
    color: black;
    height: 4px;
    margin: 3px;
    transition: 0.2s;
  }

  .bar:nth-child(1) {
    width: 20px;
  }

  .bar:nth-child(2) {
    width: 30px;
  }

  .bar:nth-child(3) {
    width: 15px;
  }

  .navbar-links {
    height: 100%;
  }

  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navbar-links li {
    list-style: none;
  }

  @media (max-width: 1000px) {
    .navigation {
      flex-direction: column;
      align-items: flex-start;
    }

    .ham-menu {
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      cursor: pointer;
      align-items: end;
      margin-top: -60px;
      padding-bottom: 20px;
    }

    .navbar-links {
      display: none;
      width: 100%;
      transition: 0.5s;
    }

    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }

    .navbar-links ul li {
      text-align: center;
      padding-bottom: 20px;
    }

    .navbar-links ul li a {
      padding: 1rem 1rem;
    }

    .navbar-links.active {
      display: flex;
    }

    .bar.active {
      width: 32px;
    }
  }
</style>
<header>
  <nav class="navigation">
    <a class="nav-logo" href="index.html"
      ><img
        class="nav-logo"
        src="images/offsetlogo.svg"
        alt="Dylan Collins Logo"
      /></a
    >
    <a href="#" class="ham-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="about.html">About Me</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
