<style>
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footer-section {
    flex: 1;
    text-align: center;
    margin: 0 20px;
  }

  .footer-logo {
    max-width: 100px; /* or whatever size you prefer */
  }

  .social-links,
  .sitemap {
    list-style-type: none;
    padding: 0;
  }

  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-links a {
    color: var(--black);
    font-size: 24px; /* adjust as necessary */
    text-decoration: none;
  }

  .sitemap li {
    margin-bottom: 10px;
    display: inline;
    padding: 8px;
  }

  .sitemap a {
    text-decoration: none;
    color: var(--black);
    text-align: left;
  }

  .social-links a:hover,
  .sitemap a:hover {
    text-decoration: underline;
  }
</style>

<footer>
  <div class="footer-container">
    <div class="footer-section">
      <img src="/images/offsetlogo.svg" alt="Your Logo" class="footer-logo" />
    </div>

    <div class="footer-section">
      <ul class="sitemap">
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section"></div>
  </div>
</footer>
