---
import CtaButton from "./CtaButton.astro";
---

<div class="image-content-container">
  <img src="images/phone.svg" alt="Description of Image" class="left-image" />
  <div class="right-content">
    <p>
      So what does all of this mean? It means I can take you from initial idea to final product and provide the support for it all.
      So if you need a brand new site, or maintenence on an exsiting deployment, let's talk about it.
    </p>
    <CtaButton buttonText="Get Started" />
  </div>
</div>

<style>
  @keyframes rotateAnimation {
    0% {
      transform: translateY(2px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(2px);
    }
  }

  .image-content-container {
    display: flex;
    align-items: center;
    max-width: 110rem;
    margin: 0 auto;
  }

  .left-image {
    max-width: 40%;
    height: auto;
    animation: rotateAnimation 3s infinite;
  }

  .right-content {
    padding-left: 2rem;
  }

  @media (max-width: 1000px) {
    .image-content-container {
      flex-direction: column;
    }

    .left-image {
      max-width: 20%;
      margin-bottom: 1rem;
    }

    .right-content {
      padding-left: 0;
      text-align: justify;
    }
  }
</style>
